# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv/

# Build artifacts
build/
dist/
.eggs/
*.egg-info/

# Tooling caches
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
