# macOS artifacts
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python build / cache artifacts
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# Virtual environments & tooling
.env
.venv/
.envrc
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Editor metadata
.idea/
.vscode/
